<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/prod_bank</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">123</property>

        <!-- JDBC connection pool (use the build-in) -->
        <property name="connection.pool_size">1</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

    </session-factory>

</hibernate-configuration>